#navbar-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #076434;
}
#navbar-menu a:visited,
a:active {
  color: #076434;
}
#navbar-icon {
  padding-left: 2rem;
}

#navbar-menu li:last-child {
  padding-right: 2rem;
}

#navbar-icon img {
  width: 80px;
  height: 80px;
}
#navbar-container {
  margin: 1rem;
}
#user-logo {
  color: #076434;
  padding-top: 1rem;
}

/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  color: #faf9f8;
  padding-top: 3rem;
}
.footer-social-icon ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
}
.footer-social-icon li {
  padding-left: 4rem;
}
.footer-social-icon li:first-child {
  padding-left: 0;
}
.footer-social-icon a {
  color: #faf9f8;
}
.footer-text h5 {
  color: #faf9f8;
}
/*CONTACT US*/
#screen-body-item {
  flex: 1;
  padding: 50px;
}

#screen-body-item.left {
  display: flex;
  flex-direction: column;
}
.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #076434;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.app-form-button:hover {
  color: #076434;
  font-weight: bold;
}

#contact-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#contact-form {
  width: 70%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.carousel-image-all {
  width: 100%;
  height: auto;
}

/*SLIDESHOW*/
.carousel-img-all {
  width: 100%;
  height: auto;
}

/*ABOUT US */

.aboutUs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 2rem;
}

.aboutUs-first {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/aboutUsBackground.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 45% 100%;
}
.aboutUs-first h2 {
  padding-bottom: 1rem;
}
.aboutUs-first p {
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
}
.line-1 {
  width: 100px;
  height: 2px;
  background-color: #979998;
  margin-bottom: 3rem;
}
.line-3 {
  width: 100px;
  height: 2px;
  background-color: #faf9f8;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.aboutUs-second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #076434;
  color: #faf9f8;
  height: 65%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.aboutUs-second h5 {
  color: #faf9f8;
}
.aboutUs-second h3 {
  color: #faf9f8;
}
.offer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.offer-caring {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 3rem;
}
.offer-caring a {
  color: #faf9f8;
}
.offer-caring p {
  text-align: justify;
}
.offer-caring h5,
a,
p {
  padding-top: 2rem;
}
.line-2 {
  width: 5px;
  height: 200px;
  background-color: #faf9f8;
  margin-top: 50px;
}
.register-now {
  width: 200px;
  height: 50px;
  border: solid 1px #faf9f8;
  background-color: #faf9f8;
  border-radius: 30px;
  color: #076434;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  margin-top: 3rem;
}
.register-now a:visited,
a:active {
  color: #076434;
}

/*Page1*/
.background-page1 {
  width: 100vw;
  height: 900px;
  background-image: url("../images/plant4.png");
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-image: url("../images/succulents.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 100vw;
  min-height: 800px;
  background-color: #d5ebe0; */
}

.content-page1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10rem;
  padding-top: 10%;
}
.content-page1 p {
  width: 40%;
  height: 200px;
  color: #faf9f8;
  border-radius: 25px;
}
.content-page1 h1 {
  color: #faf9f8;
}
.content-page1 h6 {
  color: #faf9f8;
}
.content-page1 button {
  width: 200px;
  height: 50px;
  border: solid 1px #faf9f8;
  background-color: #076434;
  border-radius: 30px;
  color: #faf9f8;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.content-page1 a:visited,
a:active {
  color: #faf9f8;
}
