#navbar-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#navbar-icon {
  padding-left: 2rem;
}

#navbar-menu li:last-child {
  padding-right: 2rem;
}

#navbar-icon img {
  width: 80px;
  height: 80px;
}
#navbar-container {
  margin: 1rem;
}
#user-logo {
  color: #076434;
  padding-top: 1rem;
}

/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  color: #faf9f8;
  padding-top: 3rem;
}
.footer-social-icon ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
}
.footer-social-icon li {
  padding-left: 4rem;
}
.footer-social-icon li:first-child {
  padding-left: 0;
}
.footer-social-icon a {
  color: #faf9f8;
}

/*CONTACT US*/
#screen-body-item {
  flex: 1;
  padding: 50px;
}

#screen-body-item.left {
  display: flex;
  flex-direction: column;
}
.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #076434;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.app-form-button:hover {
  color: #076434;
  font-weight: bold;
}

#contact-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#contact-form {
  width: 70%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.carousel-image-all {
  width: 100%;
  height: auto;
}

/*SLIDESHOW*/
.carousel-image-1 {
  width: 600px;
  height: auto;
}
