.grid-container {
  display: grid;
  gap: 100px 150px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: #faf9f8;
  font-size: 30px;
  text-align: center;
  width: 280px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.grid-item img {
  width: 250px;
  height: 250px;
  padding-bottom: 1rem;
}
.grid-item p {
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: #076434;
  position: relative;
}
#plants-container {
  /* background-image: url("../images/plants-background2.png");
  background-repeat: repeat;
  background-size: cover; */
  width: 100vw;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #076434;
}
#plants-search {
  margin: 5rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#plants-search i {
  color: #faf9f8;
  padding-left: 1rem;
}
#plants-search button {
  margin-left: 5rem;
  width: 250px;
  height: 40px;
  border: solid 1px #779b87;
  background-color: #faf9f8;
  border-radius: 30px;
  color: #5f7a6f;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-align: left;
  padding-left: 1.5rem;
}
#plants-search a:link,
a:hover,
a:visited,
a:active {
  color: #5f7a6f;
}
/*SEARCH FUNCTION: SEARCH BY NAME*/

.search-function-component input {
  width: 250px;
  height: 40px;
  border: solid 1px #076434;
  background-color: #faf9f8;
  border-radius: 30px;
  color: #076434;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

/*PAGINATION */

.pagination li {
  width: 100px;
  height: 40px;
  border: solid 1px #076434;
  background-color: #faf9f8;
  border-radius: 40px;
  color: #076434;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-align: center;
  padding-top: 0.5rem;
  margin: 5rem 10rem;
}

/*SEARCH BY NAME */
#input-query {
  padding-left: 1rem;
}
