.calendar-container {
  width: 80%;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.my-calendar-class {
  height: 600px;
}

.fc-day,
.fc-day-number {
  color: #076434;
}

.fc-toolbar {
  background-color: #076434;
}

.fc-button-primary,
.fc-button-primary:hover {
  background-color: #076434;
  color: #fff;
}

.fc-day-header {
  color: #000;
}

.fc-day,
.fc-day-number {
  color: #333;
}

/* Event Styles */
.fc-event {
  background-color: #61a03acc;
  color: #fff;
  min-height: 60px;
}
.fc-event-title {
  white-space: normal;
  word-wrap: break-word;
}
.add-event-button {
  background-color: #076434;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-event-button:hover {
  background-color: #05a32d;
}

.login-button-calendar {
  background-color: #076434;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button-calendar:hover {
  background-color: #05a32d;
}

/* AddEventModal.css */
.add-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-title-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pick-day-label {
  font-weight: bold;
  margin-top: 10px;
}

.event-date-picker {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* EditEventModal.jsx */

.edit-event-modal {
  background-color: #fff;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

.edit-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.event-title-input {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.edit-day-label {
  font-weight: bold;
  margin-top: 10px;
}

.event-date-picker {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-event-button {
  background-color: #076434;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.edit-event-button:hover {
  background-color: #05a32d;
}

.delete-event-button {
  background-color: #ff5252;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-event-button:hover {
  background-color: #ff0000;
}

@media (min-width: 768px) and (max-width: 1045px) {
  .calendar-container {
    width: 70%;
    padding: 20px;
  }
  .my-calendar-class {
    height: 700px;
  }

  .fc-toolbar {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .calendar-container {
    width: 90%;
    padding: 10px;
  }
  .my-calendar-class {
    height: 500px;
  }

  .fc-toolbar {
    font-size: 14px;
  }
}
